/* mobile portrait */
@media only screen and (max-width: 600px) {
  .navDesktopContainer {
    display: none;
  }

  .navMobileContainer {
    display: block;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 25px;
  }

  .menuDrawer {
    opacity: 0.9;
    color: black;
  }

  .MuiPaper-root {
    color: black;
  }
}

/* mobile landscape */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .navMobileContainer {
    display: none;
  }

  .navDesktopContainer {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
  }

  .navDesktopContainer > :nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navDesktopContainer > :nth-child(2) {
    display: flex;
  }
}

/* desktop view */
@media only screen and (min-width: 1280px) {
  .navMobileContainer {
    display: none;
  }

  .navDesktopContainer {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
  }

  .navDesktopContainer > :nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navDesktopContainer > :nth-child(2) {
    display: flex;
  }
}

.navLink {
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 20px;
}
